.carCompaniesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btnContainer {
    width: 800px;
    height: 10vh;
    display: flex;

    justify-content: flex-end;
    align-items: center;
    .btn {
      padding: 5px 20px;
      background-color: rgb(77, 63, 205);
      border: none;
      text-decoration: none;
      outline: none;
      color: #fff;
    }
  }
}
