.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  // border: 1px solid red;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .left {
    width: 40%;
    > h1 {
      font-size: 2rem;
      margin: 0px 1rem;
      color: #121e52;
    }
  }
  .right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5rem;
    .links {
      text-decoration: none;
      color: #121e52;
      font-size: 21px;
      font-weight: 500;
    }
  }
}
